{% extends 'accounts/base/secApp.html' %}
{% load socialaccount %}
{% load static %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="bg-img">
      <div class="content">
        <header>Sign Up</header>

        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <form action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
          <div class="field">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="Username" id="username" name="username">
          </div>
          <div class="field space">
            <span class="fa fa-envelope"></span>
            <input type="email" required placeholder="Email" id="email" name="email"
                   value="{{ request.session.social_signup_email|default:'' }}">
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            <input type="password" class="pass-key" required placeholder="Password" id="password" name="password">
            <span class="show">SHOW</span>
          </div>

          <div class="field space">
            <input type="submit" value="SIGN UP">
          </div>
        </form>

        <!-- <div class="login">Or Sign up with</div>
        <div class="links">
          <a href="{% provider_login_url 'facebook' %}" class="facebook">
            <i class="bi bi-facebook"></i> Facebook
          </a>
          
          {% if request.session.social_signup_provider %}
            <a href="{% provider_login_url request.session.social_signup_provider %}" class="google">
              <i class="bi bi-google"></i> Google
            </a>
          {% else %}
            <a href="{% provider_login_url 'google' %}" class="google">
              <i class="bi bi-google"></i> Google
            </a>
          {% endif %}
          
        </div> -->

        <div class="signup mt-3">Have an account?
          <a href="{% url 'login' %}">Sign in</a>
        </div>
      </div>
    </div>
{% endblock %}
